@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
    position: absolute; /* Changed to absolute */
    top: 100%; /* Positions it just below the header */
    right: 0; /* Aligns it to the right edge */
    transform: translateX(0); /* No need to translate */
    background-color:#F8FAFD;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    width: 300px; /* Optional: set a width for the popup */
}


.popup-content {
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-email {
    font-size: 14px;
    color: #666;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.manage-account-btn,
.add-account-btn,
.sign-out-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.manage-account-btn:hover,
.add-account-btn:hover {
    background-color: #3e8e41;
}

.sign-out-btn {
    background-color: #ff9800;
}

.sign-out-btn:hover {
    background-color: #ff7f00;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup-footer p {
    font-size: 14px;
    color: #666;
}


.loader {
  width: 50px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%; 
  padding: 1px; 
  background: conic-gradient(#0000 10%,#f03355) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:l4 1s infinite steps(10);
}
@keyframes l4 {to{transform: rotate(1turn)}}

  .container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .back-button {
    cursor: pointer;
  }
  
  .profile-name {
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .profile-letter {
    font-size: 20px;
    font-weight: bold;
  }
  
  .name {
    font-size: 18px;
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  .star-icon {
    cursor: pointer;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .email, .phone {
    font-size: 16px;
    color: #333;
  }